/* colors */
.c-project-card {
  font-family: 'arial';
  display: inline-block;
  position: relative;
  height: 300px;
  width: 300px; }
  .c-project-card:hover .c-project-card__overlay {
    opacity: .8; }
  .c-project-card:hover .c-project-card__wrapper {
    opacity: 1; }
  .c-project-card .c-project-card__overlay {
    font-family: 'get-show';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA; }
  .c-project-card .c-project-card__wrapper {
    z-index: 2;
    color: white;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: .5s ease;
    width: 100%;
    height: 100%;
    padding-top: 20%; }
  .c-project-card .fa-camera {
    font-size: 7em; }

html {
  font-family: 'arial';
  height: 100%; }

body {
  padding-top: 40px;
  height: 100%; }

#root {
  height: 100%; }

* {
  box-sizing: border-box; }

.o-media {
  height: 100%;
  width: 100%;
  object-fit: cover; }

* {
  text-decoration: none; }

.l-fixed {
  position: fixed; }

@font-face {
  font-family: 'get-show';
  src: url("../assets/fonts/get-show.ttf") format("truetype"); }

.shout {
  font-size: 120px; }

.talk {
  font-size: 40px; }

.whisper {
  font-size: 16px; }

.tilt {
  transform: rotate(-20deg); }

.label--icon {
  font-size: 2.5em; }

.maxheight {
  height: 100%; }

.l-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; }

.l-align-center {
  align-items: center; }

.l-justify-center {
  justify-items: center; }

.l-center {
  text-align: center; }

.l-grid {
  display: grid; }

.l-columns-2 {
  grid-template-columns: 1fr 1fr; }

.l-grid-area-menu {
  grid-area: 'menu'; }

.l-grid-rows-4 {
  grid-template-rows: 1fr 1fr 1fr 1fr; }

.l-fixed {
  position: fixed; }

.color-layout-1 {
  background-color: #8fc1e3; }

.color-denote-error {
  background-color: #FD9378; }

body {
  color: white;
  background-color: #8fc1e3; }

.manage {
  color: white;
  /* LAYOUT STUFF */
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 'title' 'projects'; }
  .manage > div {
    padding: 20px; }
  .manage.l-grid {
    justify-items: center; }
  .manage .l-grid-area-title {
    grid-area: title; }
  .manage .l-grid-area-projects {
    grid-area: projects; }
  .manage.l-grid-active {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 100px;
    grid-template-areas: 'preview form' 'save save'; }
  .manage label {
    font-size: 1.5em;
    display: block; }
  .manage .l-grid-area-preview {
    max-width: 600px;
    grid-area: preview; }
  .manage .l-grid-area-form {
    grid-area: form; }
  .manage .l-grid-area-save {
    grid-area: save; }
  .manage img {
    max-width: 100%; }

.create {
  color: white;
  /* LAYOUT STUFF */
  grid-template-columns: 1fr;
  grid-template-areas: "preview" "form"; }
  .create > div {
    padding: 20px; }
  .create.l-grid {
    justify-items: center; }
  .create.l-grid-active {
    grid-template-rows: 1fr 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'preview form'; }
    .create.l-grid-active .l-grid-area-preview > * {
      position: static;
      transform: translateX(0); }
  .create label {
    font-size: 1.5em;
    display: block; }
  .create .l-grid-area-preview {
    position: relative;
    grid-area: preview;
    width: 100%; }
  .create .l-grid-area-form {
    grid-area: form; }
  .create .l-grid-area-save {
    grid-area: save; }
  .create img {
    display: block;
    max-width: 100%;
    max-height: 60vh;
    margin: auto; }

button {
  padding: 5px;
  color: white;
  opacity: .7;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px rgba(255, 255, 255, 0) solid;
  font-size: 24px;
  display: inline-block; }

input[type='password'], input[type='email'], input[type='text'], textarea {
  text-align: center;
  height: auto;
  min-width: 400px;
  padding: 20px;
  font-size: 25px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px transparent solid;
  border-radius: 25px;
  margin: 10px; }
  input[type='password']::placeholder, input[type='email']::placeholder, input[type='text']::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.9); }

input[type='password']:focus, input[type='email']:focus, input[type='text']:focus, textarea:focus {
  border: 2px transparent solid;
  outline-width: 0; }
  input[type='password']:focus::placeholder, input[type='email']:focus::placeholder, input[type='text']:focus::placeholder, textarea:focus::placeholder {
    opacity: 0; }

.setting {
  margin: 10px;
  font-size: 18px; }
  .setting--true {
    color: white; }
  .setting--false {
    color: rgba(255, 255, 255, 0.4); }

.header {
  top: 30px;
  right: 50px; }
  .header > div {
    display: inline-block; }

.project {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 50% 50%; }

h1 {
  font-size: 24px; }
