button {
  padding: 5px;
  color: white;
  opacity: .7;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px rgba(255, 255, 255, 0) solid;
  font-size: 24px;
  display: inline-block; }
