.create {
  color: white;
  /* LAYOUT STUFF */
  grid-template-columns: 1fr;
  grid-template-areas: "preview" "form"; }
  .create > div {
    padding: 20px; }
  .create.l-grid {
    justify-items: center; }
  .create.l-grid-active {
    grid-template-rows: 1fr 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'preview form'; }
    .create.l-grid-active .l-grid-area-preview > * {
      position: static;
      transform: translateX(0); }
  .create label {
    font-size: 1.5em;
    display: block; }
  .create .l-grid-area-preview {
    position: relative;
    grid-area: preview;
    width: 100%; }
  .create .l-grid-area-form {
    grid-area: form; }
  .create .l-grid-area-save {
    grid-area: save; }
  .create img {
    display: block;
    max-width: 100%;
    max-height: 60vh;
    margin: auto; }
