input[type='password'], input[type='email'], input[type='text'], textarea {
  text-align: center;
  height: auto;
  min-width: 400px;
  padding: 20px;
  font-size: 25px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px transparent solid;
  border-radius: 25px;
  margin: 10px; }
  input[type='password']::placeholder, input[type='email']::placeholder, input[type='text']::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.9); }

input[type='password']:focus, input[type='email']:focus, input[type='text']:focus, textarea:focus {
  border: 2px transparent solid;
  outline-width: 0; }
  input[type='password']:focus::placeholder, input[type='email']:focus::placeholder, input[type='text']:focus::placeholder, textarea:focus::placeholder {
    opacity: 0; }
