.manage {
  color: white;
  /* LAYOUT STUFF */
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 'title' 'projects'; }
  .manage > div {
    padding: 20px; }
  .manage.l-grid {
    justify-items: center; }
  .manage .l-grid-area-title {
    grid-area: title; }
  .manage .l-grid-area-projects {
    grid-area: projects; }
  .manage.l-grid-active {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 100px;
    grid-template-areas: 'preview form' 'save save'; }
  .manage label {
    font-size: 1.5em;
    display: block; }
  .manage .l-grid-area-preview {
    max-width: 600px;
    grid-area: preview; }
  .manage .l-grid-area-form {
    grid-area: form; }
  .manage .l-grid-area-save {
    grid-area: save; }
  .manage img {
    max-width: 100%; }
