.create {
  color: white; 

  & > div {
    padding: 20px;
  }

  /* LAYOUT STUFF */
  &.l-grid {
    justify-items: center;
  }

  grid-template-columns: 1fr;
  grid-template-areas: 'preview''form';


  &.l-grid-active { 
  grid-template-rows: 1fr 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'preview form';

    .l-grid-area-preview >* {
      position: static;
      transform: translateX(0);
    }
  }

  label {
    font-size: 1.5em;
    display: block;
  }

  .l-grid-area-preview{
    position: relative;
    grid-area: preview;
    width: 100%;
      } 
  

  .l-grid-area-form{
    grid-area: form;
  }

  .l-grid-area-save {
    grid-area: save;
  }

  img {
   display: block;
   max-width: 100%;
   max-height: 60vh;
   margin: auto;
  }
}
