input[type='password'], input[type='email'], input[type='text'], textarea {
  text-align: center;
  height: auto;
  min-width: 400px;
  padding: 20px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  background-color: rgba(255,255,255,0.1);
  border: 2px transparent solid;
  border-radius: 25px; 
  margin: 10px;
  &::placeholder {
    color: rgba(255, 255, 255, .9);
  }
}


input[type='password']:focus, input[type='email']:focus, input[type='text']:focus, textarea:focus {
  border: 2px transparent solid;
  outline-width: 0; 
  &::placeholder {
    opacity: 0;
  }
} 
