.manage {
  color: white; 

  & > div {
    padding: 20px;
  }

  /* LAYOUT STUFF */
  &.l-grid {
    justify-items: center;
  }

  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  'title'
  'projects';

  .l-grid-area-title {
    grid-area: title; 
  }

  .l-grid-area-projects {
    grid-area: projects;
  }


  &.l-grid-active { 
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 100px;
  grid-template-areas: 'preview form'
                       'save save';
  }

  label {
    font-size: 1.5em;
    display: block;
  }

  .l-grid-area-preview{
    max-width: 600px;
    grid-area: preview;
  }

  .l-grid-area-form{
    grid-area: form;
  }

  .l-grid-area-save {
    grid-area: save;
  }

  img {
   max-width: 100%;
  }
}
