.c-project-card {
  font-family: 'arial';
  display: inline-block;
  position: relative;
  height: 300px;
  width: 300px;

  &:hover .c-project-card__overlay {
    opacity: .8;
  }

  &:hover .c-project-card__wrapper {
    opacity: 1;
  }

  .c-project-card__overlay {
    font-family: 'get-show';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

  .c-project-card__wrapper {
    z-index: 2;
    color: white;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: .5s ease;
    width: 100%;
    height: 100%;
    padding-top: 20%;

  }

  .fa-camera {
    font-size: 7em;
  }

} 
