$color-layout-1 : #8fc1e3; 
$color-layout-2: #ffffff;
$color-layout-3: #ffffff;
$color-layout-4: #ffffff;

$color-denote-error: #FD9378;
$color-denote-success: #ffffff;
$color-denote-disabled-light: #ffffff;
$color-denote-disabled-dark: #ffffff;

$color-interact-primary: #ffffff;
$color-interact-light: #ffffff;
$color-interact-lightest: #ffffff;
$color-interact-dark: #ffffff;
$color-interact-darkest: #ffffff;

.color-layout-1 {
  background-color: $color-layout-1;
}

.color-denote-error {
  background-color: $color-denote-error;
}

body {
  color: rgb(255, 255, 255);
  background-color: $color-layout-1;
}
