html {
  font-family: 'arial';
  height: 100%;
}

body {
  padding-top: 40px;
  height: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.o-media { 
  height: 100%;
  width: 100%;
  object-fit: cover;
}

* {
  text-decoration: none;
}

.l-fixed {
  position: fixed;
}
