.maxheight {
  height: 100%;
}

.l-container {
  max-width: 1600px; 
  margin-left: auto;
  margin-right: auto;
}

.l-align-center {
  align-items: center;
}

.l-justify-center {
  justify-items: center;
}

// .l-justify-bottom {
//   justify-content: bottom;
// }

.l-center {
  text-align: center;
}

.l-grid {
  display: grid;
}

.l-columns-2 {
  grid-template-columns: 1fr 1fr;
}

.l-grid-area-menu {
  grid-area: 'menu'; 
}

.l-grid-rows-4 {
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.l-fixed {
  position: fixed;
}
