@font-face {
  font-family: 'get-show';
  src: url('../assets/fonts/get-show.ttf') format('truetype');
}

// Font-size Classes
.shout {
	font-size: 120px;
}

.talk {
	font-size: 40px;
}

.whisper {
	font-size: 16px; 
}

.tilt {
	transform: rotate(-20deg);
}

.label--icon {
  font-size: 2.5em;
}
